.header{
    position: fixed;    
    width: 100%;
    min-height: 15vh;
    top: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);    
}
.header_upper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 0.5rem;
}
.header_upper h1{
    color: white;
}
.header_upper form{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.header_upper input{
    width: 30vw;
    height: 5vh;
    padding: 0 4.5vw 0 1vw;
    border-radius: 2.5vh;
    border: 0;
    text-overflow: ellipsis;
}
.header_upper form button{
    background:transparent;
    border: 1px solid black;  
    position: absolute;  
    width: 4vw;
    border: 0;
    border-left: 1px solid rgb(80,80,80);
    display:flex;
    justify-content: center;
}
.header_upper form button img{
    height: 100%;
    border-radius: 0 2vw 2vw 0;
    padding: 0 0.5vh;
}
.header_upper input:focus{
    outline: 0;
}
.login button{
    background:transparent;
    font-size: 1em;
    height: 5vh;
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: rgb(255, 255, 255);
    border: 0;
}
.login button:hover{
    cursor: pointer;
    background-color: rgb(50,50,50);
}
.login button img{
    filter: invert(100%) brightness(100%);
    height: 1.6rem;
}
.login h3{
    font-weight: 400;
}
.header_upper h1{
    font-size: 2em;
    font-family: myriad-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
}
.header nav{
    min-width: 90%;
    color: white;
}
.header nav ul{
    display: flex;
}
.header nav ul li{
    min-width: 25%;
    height: 5vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header nav ul li button{
    background: none;
    border: none;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
}
.header nav ul li:hover{
    cursor: pointer;
    background-color: rgb(80,80,80);
}

@media(max-width: 900px){
    .header_upper{
        width: 90%;
        gap: 2rem;
        padding: 0 1rem;
    }
    .header nav ul{
        width: 100%;
    }
}
@media(max-width: 750px){
    .header_upper{
        width: 85%;
        gap: 0.5rem;
        margin-top: 0.3rem;
    }
    .login button{
        border: 0;
        padding: 0;
    }
    .login button h3{
        display: none;
    }
    .header ul{
        width: 90%;
    }
}
@media(max-width: 500px){
    .header_upper{
        display: grid;
        width: 90%;
        grid-template-columns: 10fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
    }
    .header_upper form{
        grid-column: 1/3;
        grid-row: 2;
        margin-bottom: 1vh;
    }
    .header_upper input{
        width: 100%;
        height: 2rem;
        border-radius: 1.5rem;
        padding: 0 10vw 0 3vw;
    }
    .header_upper form button{
        width: 10vw;
    }
    .header_upper h1{
        font-size: 2em; 
    }
    .login button img{
        height: 2.5rem;
    }
    .header nav{
        display: none;
    }
}
@media(max-width: 300px){
    .header_upper h1{
        font-size: 1.8rem;
    }
}
@media(max-height: 500px){
    .header{
        position: relative;
    }
}