@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.banner .carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}
.banner .foto{
    width: 100%;
    height: fit-content;
    position: relative;
    background-position: initial;
    background-repeat: no-repeat;
    filter: sepia(0.1) contrast(0.8) hue-rotate(3deg);
    transform: translateY(calc(6rem - 1px));
}
.banner .head-line{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center;
}
.banner h1{
    max-width: 60%;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Carter One', cursive;
    text-align: center;
    text-shadow: -8px 6px 0px black;
    color: white;
}
@media(max-width: 700px){
    .banner h1{
        max-width: 90%;
        font-size: 2.5em;
        color: #eed48b;
    }
}
@media(max-height: 500px){
    .banner{
        margin-top: 0vh;
    }
    .banner h1{
        max-width: 80%;
        font-size: 2em;
        color: #eed48b;
        margin-bottom: 0rem;
    }
}